html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', 'Times New Roman', Times, serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rounded{
  border-radius: 10px!important;
}

.header{
  height: 30rem;
}
.fw-bolder{
  font-weight: 800 !important;
}
.fs-0{
  font-size: 68px;
}

.icon{
  width: 60px;
  height: 60px;
}
.icon-phone{
  width: 40px;
  height: 40px;
  transform: scaleX(-1);
}
.shadow-dark{
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}